{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/prefer-stateless-function": 0,
    "prefer-spread": 0,
    "react/require-default-props": 0,
    "import/no-extraneous-dependencies": 0,
    "radix": 0,
    "react/no-find-dom-node": 0,
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack-common-config.js"
      }
    }
  }
}
