{
  "useTabs": false,
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "parser": "flow",
  "noSemi": true,
  "rcVerbose": true
}
